.ant-card {
    margin: 2px;
}
.animeCards__category {
text-align: center;
}

.animeCards__container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin: 4px 2px;
}

.animeCards__item {
    width: 200px;

}

.animeCards__item img {
    height: 280px;
}

.animeCards__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.animeCards__nav-button {
    font-size: 32px;
}
.animeCards__nav-button:hover {
    color: grey;
}